* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rebeccapurple;
  font-family: ui-sans-serif;
}

li {
  list-style: none;
}

.all-container {
  /* border: 2px solid black;  */
  height: 100vh;
  width: 100%;
  display: flex;
}

.container {
  /* border: 2px solid black; */
  height: 100vh;
  width: 300px;
  /* display: flex; */
  background-color: #fdf2f8;
}

.logo {
  /* border: 2px solid black; */
  background-image: url(../assets/asset\ 0.png);
  background-position: none;
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
  width: 299px;
  margin-left: 10px;
  /* padding-top:  30px ; */
}

.element {
  padding-top: 20px;
  /* border: 2px solid black; */
  display: flex;
  height: 90vh;
  width: 300px;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 15px;
}

.element li {
  padding: 10px;
  font-size: 20px;
  /* color: gray; */
  list-style: none;
}
.padding i {
  padding-right: 40px;
}
/* 
.last-element {
  border: 2px solid black;
} */

.date-time {
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-between;
  height: 20px;
  padding: 10px 20px;
  height: 50px;
}

.dash {
  font-size: 25px;
  color: #db2777;
}

.date {
  border: 1px solid rgb(212, 207, 207);
  background-color: #fce7f3;
  text-align: center;
  padding-top: 5px;
  font-size: 16px;
  width: 200px;
  color: #db2777;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.all-sales {
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0px 0px 0px;
}

.sale1,
.sale2,
.sale3 {
  border: 1px solid rgba(232, 224, 224, 0.32);
  height: 100px;
  width: 400px;
  display: flex;
  font-size: 148x;
  justify-content: space-between;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.199);
}

.sale-text {
  padding-left: 10px;
}

.Todays {
  padding: 5px 0px;
}

.money {
  font-size: 20px;
  padding: 9px 3px;
}

.sale1-logo {
  background-image: url(../assets/sale1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 200px auto;
  width: 100px;
}
.sale2-logo {
  background-image: url(../assets/sale2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 200px auto;
  width: 100px;
}
.sale3-logo {
  background-image: url(../assets/sale3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 200px auto;
  width: 100px;
}

/* .sale-text {
  border: 2px solid black;
} */

.both-box {
  display: flex;
  /* gap: 110px; */
  margin-top: 30px;
  margin-left: 50px;
  justify-content: space-between;
  padding-right: 50px;
}

.box1 {
  /* border: 0.5px solid rgb(90, 89, 89); */
  height: auto;
  width: 855px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.389);
}

.tpl {
  display: flex;
  /* border: 2px solid black; */
  justify-content: space-between;
  padding: 0px 5px;
  font-size: 18px;
  color: rgba(9, 9, 9, 0.695);
}

.img {
  background-image: url(../assets/chart.png);
  background-position: 0px;
  background-repeat: no-repeat;
  background-size: contain;
  height: 300px;
}

.box1-money {
  font-size: 30px;
  padding-top: 15px;
  padding-left: 5px;
  font-weight: 800;
}

.box2 {
  /* border: 2px solid black; */
  height: auto;
  width: 400px;
  /* display: flex; */
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.389);
}

/* ****************************** */

.most {
  font-size: 30px;
  color: rgba(9, 9, 9, 0.695);
  padding-left: 10px;
}

.chart2 {
  background-image: url(../assets/chart2.png);
  background-position: 0px;
  background-repeat: no-repeat;
  background-size: contain;
  height: 300px;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
.table {
  height: 350px;
  width: 1320px;
  border: 1px solid rgba(0, 0, 0, 0.328);
  margin: 10px 0px;
  margin-left: 50px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.389);
}

.latest {
  font-size: 20px;
  padding-top: 10px;
  padding-left: 10px;
}

.table-data {
  padding: 10px;
}

table {
  width: 100%;
}

td {
  padding: 8px 12px;
  text-align: left;
  /* border: 0.1px solid rgba(0, 0, 0, 0.138); */
}

tr:first-child {
  background-color: #f5f5f5;
  font-weight: bold;
}

.status-delivered {
  color: #28a745;
}

.status-pending {
  color: #ffc107;
}

.status-cancelled {
  color: #dc3545;
}

.action-dots {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}
