@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* *********** css reset **********  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

body {
  line-height: 1.7;
}

/* ************ utility classes ************ */

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

ul li {
  list-style: none;
}

a {
  font-size: 1.6rem;
  text-decoration: none;
}

p,
li {
  font-size: 1.6rem;
  margin-bottom: 0.5em;
  letter-spacing: 0.15em;
}

h1,
h2,
h3 {
  margin-bottom: 0.5em;
  letter-spacing: 0.15em;
  font-weight: 500;
}

.lg-heading {
  font-size: 3.5rem;
}

.md-heading {
  font-size: 2.2rem;
}

.text-red {
  color: #e63946;
}

.text-light {
  color: #f4f4ff;
}

.text-black {
  color: #333;
}



.bg-dark {
  color: #263238;
  background-color: #263238;

}

.text-gray {
  color: #555;
}

.default-btn {
  display: inline-block;
  padding: 0.5em 1.5em;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0.5em;
}

.primary-btn {
  background-color: #ffff;
  border-radius: 10em;
}

.secondary-btn {
  border: 2px solid #e63946;
  border-radius: 1.5em;
  color: #e63946;
  background-color: #ffff;
}

/* ************* header section ************* */

#header {
  height: 95vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/header-image.jpg");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  position: relative;
}

.navbar a:visited,
.navbar a:link {
  color: #fff;
  text-transform: uppercase;
}

.navbar .logo {
  float: left;
}

.navbar .navbar-items {
  float: right;
}

.navbar::after {
  display: block;
  content: "";
  clear: both;
}

.navbar-item {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem;
}

.navbar a:hover {
  border-bottom: 1px solid #fff;
  padding-bottom: 0.2em;
}

.header-content {
  padding: 1rem;
}

.header-content p {
  text-transform: uppercase;
}

.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

/* ********* showcase section *************  */


.box-wrapper{
    /* border: 3px solid black; */
}


.showcase {
  padding: 10rem 0;
  background-color: #ddd;
  /* border: 10px solid red; */
}

.box {
  height: 350px;
   background-color: #fff;
  box-shadow: 5px 5px 5px 0px #00000063;
  /* border: 3px solid red; */
}

.boxwrapper1 ,.boxwrapper2{
  margin-bottom: 10rem;
  /* border: 2px solid black; */
}

.boxwrapper1 .img-box1,
.boxwrapper2 .text-box2, .img-box3 {
  float: left;
  width: 50%;
}

.boxwrapper2 .img-box2,
.boxwrapper1 .text-box1 , .text-box3{
  float: right;
  width: 50%;
}

.box .img {
  height: 100%;
}

.box .text {
  padding: 1rem;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/*  */

/* .boxwrapper3{
    border: 3px solid red;
} */


/* 
.img-box3{
    border: 3px solid rgb(44, 77, 122);
    float: left;
    width: 50%;
} */





















/* *************************************feature section ************************************* */



.features{
  padding: 10rem 0;

}


.feature-wrapper{

  /* border: 3px solid red; */
}

.wrapper-box{
  /* border: 2px solid black; */
  padding: 1.5rem;
  float: left;
  width: 33.33%;
  text-align: center;
}


.feature-wrapper::after{
  display: block;
  content: "";
  clear: both;
}


.feature-wrapper .box-1 , .feature-wrapper .box-3{
  background-color: #263238;
  color: white;
}


.wrapper-box{
  background-color: #e63946;
}





/* ***********************footer styling  */


.footer{
  background-color: #263238;
  color: #fff;
  padding: 1rem 0;
  text-align: center;

}


.social-media-links i{
  margin: 2rem;

}




/* *************************about section css */

.about{
  /* padding: 10rem 0 ; */
}


.about-heading::after{
  display: block;
  content: "";
  border: 3px solid #e63946;
}

.about-content{
  margin-top: 2rem;
  /* border: 2px solid black; */
  float: left;
  /* padding: 50px; */



}

.container::after{
  display: block;
  content: "";
  clear: both;
}

.about-content-box{
  /* border: 2px solid red; */
  /* width: 50%; */
  padding: 0 50px;
  margin-bottom: 20px;
  
}

.about-content-box ul li::before{
  content: "\2713";
  color: #e63946;
  padding: 0 0.5rem;
}


.box-box2{
  float: right;
}




.counting-wrapper{
  /* border: 2px solid black; */
  text-align: center;
  /* font-size: 50px; */
  font-weight: 600;
  margin-bottom: 30px;
}


.counting-wrapper::after{
  display: block;
  content: "";
  clear: both;
}


.counting-box span{
  font-weight: bold;
  font-size: 3.5rem;
}


.counting-box p{
  font-size:2rem ;
}

.counting-box{
  float: left;
  width: 25%;
}



.cta-banner-box::after{
  display: block;
  content: "";
  clear: both;
}

.cta-banner-content{
  /* float: left; */
  /* border: 2px solid black; */
  width: 100%;

  
} 

.cta-banner-box1 {
/* border: 2px solid black; */
float: left;
width: 100%;
height: 50px;
background-color: #e63946;
padding-left: 3rem;
}


.cta-text{
  float: left;
  /* border: 2px solid black; */

}





.btn{
  margin-top: 5px;
  border: 5px solid rgb(244, 244, 244);
  font-size: 20px;
  margin-right: 10%;
  height: 40px;
  width: 150px;
  text-align: center;
  float: right;
  color: #ddd;
  /* padding-bottom: 40px; */

}
.class-btn{
  /* float: none; */
}



/* ******************************************* */

