* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system;
  height: 1400px auto;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar {
  display: flex;
  height: 70.97px;
  position: fixed;
  width: 100%;
  box-shadow: 2px 2px 2px rgba(176, 174, 174, 0.536);
  flex-wrap: nowrap;
  background-color: white;
  z-index: 1000;
}

#all-content {
  display: flex;
  z-index: 1000;
}

.right-content {
  display: flex;
}

.logo {
  background-image: url(../assets/asset\ 0.png);
  height: 65.5382px;
  width: 266.788px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding-left: 20px;
  /* top: 0px; */
  left: 10px;
  margin-right: 20px;
}

.search-content {
  display: flex;
  align-items: center;
  gap: 10px;
  height: auto;
}

.context {
  height: 37.9619px;
  width: 551.944px;
  font-size: 15px;
  border-radius: 4px;
  padding: 0 15px;
  border: 1px solid #ec4899;
  outline: none;
}

.btn-logo {
  height: 37.9619px;
  width: 63.9881px;
  background-color: #db2777;
  background-image: url(../assets/asset\ 9.svg);
  background-position: center;
  background-size: 25px;
  border-radius: 3px;
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
  fill: white;
}

.navbar-items {
  display: flex;
  list-style: none;
  width: 600.795px;
  height: 43.9763px;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 500;
  gap: 20px;
  margin-top: 0.8rem;
  margin-left: 20px;
}

.login-btn {
  height: 29.9944px;
  width: 50.3472px;
  font-size: 16px;
  background-color: #ec4899;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  color: white;
}

.left-logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 1.1rem;
}

.shopping-logo,
.dark-logo {
  height: 25px;
}

.all-about {
  height: 638.92px;
  width: 1535.98px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.about-logo {
  background-image: url(../assets/codeswearcircle.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 112.491px;
  width: 143.989px;
  /* border: 2px solid black; */
}

.about-welcome {
  /* border: 2px solid black; */
  height: 39.9926px;
  width: 997.334px;
  text-align: center;
  font-size: 36px;
}

.about-buy {
  /* border: 2px solid pink; */
  font-size: 20px;
  height: 39.9926px;
  width: 997.334px;
  text-align: center;
}

.about-web {
  /* border: 2px solid blue; */
  font-size: 16px;
  height: 129.334px;
  width: 997.334px;
  text-align: center;
  /* padding-top: 20px; */
}

.start-btn button {
  background-color: #ec4899;
  width: 166px;
  height: 43px;
  color: white;
  font-size: 18px;
  border-radius: 4px;
  border: none;
}

.container {
  /* border: 2px solid black; */
  height: 585px;
  width: 1279px;
  background-color: #f3f4f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 0px 150px 0px 250px;
  padding-top: 50px;
  box-shadow: 4px 4px 4px rgba(190, 187, 187, 0.555);
  margin-top: 50px;
}

.heading {
  /* border: 2px solid black; */
  width: 844px;
  height: 37px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
}

.logo-about {
  background-image: url(../assets/codeswearcircle.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 184px;
  height: 159px;
  padding: 30px;
  justify-content: center;
  /* border: 2px solid black; */
  font-size: 24px;
}

.heading2 {
  /* border: 2px solid black; */
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  width: 844px;
  height: 31px;
}

.heading3 {
  /* border: 2px solid black; */
  font-size: 16px;
  text-align: center;
  width: 844px;
  height: 51px;
  justify-content: center;
  padding-top: 10px;
}

.contact-details {
  /* border: 2px solid black; */
  display: flex;
  width: 844px;
  height: 175px;
  justify-content: space-between;
  padding-top: 30px;
  gap: 2px;
}

/* .Corporate-Address{

   
}



.Customer-Support{



} */

/* ***********Footer******************* */

#footer {
  background-color: #e8e8e8;
  padding: 3rem 0 1rem 0;
  width: 100%;
  overflow: hidden;
  height: auto;
  margin-top: 30px;
}

.all-footers {
  display: flex;
  gap: 2.5rem;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem 1rem;
  flex-wrap: wrap;
}

.first-footer {
  flex: 1;
  max-width: 20rem;
  color: #888;
  text-align: left;
  min-width: 15rem;
}

.footer-logo {
  background-image: url(../assets/asset\ 0.png);
  background-position: left center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 4rem;
  width: 12rem;
  margin-bottom: 1rem;
}

.first-code {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  text-align: left;
  font-weight: 600;
  color: #333;
}

.second-code {
  font-size: 0.875rem;
  text-align: left;
  line-height: 1.4;
  color: #666;
}

.shop {
  flex: 0 0 auto;
  min-width: 10rem;
}

.shop-list {
  width: 100%;
  text-align: left;
  padding: 0;
  margin: 0;
}

.shop-list li {
  list-style: none;
  font-size: 0.875rem;
  color: #666;
  margin-bottom: 0.5rem;
  line-height: 1.5;
}

.shop-list li:first-child {
  font-weight: bold;
  color: #333;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 1rem;
}

.payment-logos {
  flex: 0 0 auto;
  height: 6rem;
  width: 15rem;
  background-image: url(../assets/pay.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.end {
  /* text-align: center; */
  font-size: 0.75rem;
  color: #888;
  /* padding: 1rem 3rem; */
  /* border-top: 1px solid #ccc; */
  margin-top: 1rem;
}
